POSTGRES_DB=kra system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=5638
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/kra system
DB_USERNAME=postgres
DB_PASSWORD=5638
SERVER_PORT=8080

REDIS_HOST=localhost
REDIS_PORT=6379

WEB_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

ANALYTICS_HOST=localhost
ANALYTICS_PORT=8090
